body {
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.button {
  padding: 1rem;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;
  color: inherit;
}
